@tailwind preflight;
@tailwind components;
@tailwind utilities;

@css {
  body,
  html {
    @apply text-black font-sans w-full h-full;
  }

  a {
    @apply no-underline;
    @apply text-black;
    box-shadow: inset 0 -0.5em 0 #dae1e7;
    transition: box-shadow 0.2s ease-in-out;
  }

  a:hover {
    box-shadow: inset 0 -0.1em 0 #dae1e7;
  }

  a.link-dark {
    @apply text-white;
    box-shadow: inset 0 -0.5em 0 #3d4852;
  }

  a.link-dark:hover {
    box-shadow: inset 0 -0.1em 0 #3d4852;
  }

  a.link-clean {
    box-shadow: none;
  }

  a.link-dark:hover {
    box-shadow: none;
  }

  hr {
    @apply border-t border-grey-light my-8;
  }

  #custom-content {
  @apply text-lg leading-normal;
}
#custom-content h2 {
  @apply my-8 font-serif;
}
#custom-content h3 {
  @apply my-8 font-serif;
}
#custom-content h4 {
  @apply mb-4 font-serif;
}
#custom-content p {
  @apply mb-4 text-lg leading-normal;
}
#custom-content ul {
  @apply list-reset my-8;
}
#custom-content ul > li {
  @apply mb-2;
}
#custom-content ul > li:before {
  custom-content: '\2192';
  @apply text-sm font-bold mr-2;
}
#custom-content p + img + em {
  @apply text-center;
}
#custom-content img + em {
  @apply block text-grey-dark text-sm;
}
#custom-content blockquote {
  @apply italic text-grey-dark pl-8 ml-8 my-8 border-l-4 border-grey;
}
.tip.custom-block {
  @apply bg-grey-lighter text-sm px-8 py-2 mb-8;
}
.tip .custom-block-title {
  @apply hidden;
}
.hero-img {
  max-width: none;
}
.hero-header-guide {
  height: 600px;
}
.hero-header-blog {
  height: 300px;
}
}
